%article
  %h1 Om oss
  %p Nyhetsbildet 2011 er en nettside som oppsummerer alle de viktigste hendelsene som har skjedd i Norge pr. måned i 2011. Formålet er å vise nyheter i korte trekk ved bruk av bilder, utdrag fra diverse nyhetssider og linke til artiklene fra nyhetssidene. 

  %p Nyhetsbildet ble utviklet i forbindelse med faget Web-Prosjekt ved Høgskolen i Oslo og Akershus, høsten 2011. Prosjektet ble startet av studentene Kristoffer Berdal, Marit Berntsen og Shahariar Kabir Bhuiyan. 

  %a{:href => 'http://www.stud.hio.no/~s180212/nettside/'} Gruppeside
