!!!
%html{:lang => 'nb'}
  %head
    - if @title then
      %title= "Nyhetsbildet 2011 - " + @title
    - else
      %title= "Nyhetsbildet 2011" 
    %meta{:charset => "utf-8"}/
    %link{:href => "/css/normalize.min.css", :rel => "stylesheet"}/
    %link{:href => "/css/design.css", :rel => "stylesheet"}/
    %link{:href => "/css/css3.css", :rel => "stylesheet"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&amp;subset=Latin", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:name => 'description', :content => "Nyhetsbildet 2011 gir deg et raskt overblikk over de viktigste hendelsene i året som har gått."}
    %meta{:name => 'keywords', :content => 'nyheter, 2011, arkiv, gruppe48'}
    %meta{:name => 'language', :content => 'nb'}
    %link{:rel => 'shortcut', :href => 'favicon.ico'}
  %body
    #main_box
      %header
        #navigation
          %ul
            %li
              %a{:href => "/"} Hjem
            %li
              %a{:href => "/contact"} Kontakt
            %li
              %a{:href => "/about"} Om oss
            %li
              %a{:href => "/sitemap"} Sitemap
            %li
              %a#biggertext{:title => "Større tekst"} A+
              %a#smallertext{:title => "Mindre tekst"} a-   
        #logo
          %a{:href=>'/', :title => 'Hjem'}
            %img{:width=> '350px', :height => '110px',:alt => "Nyhetsbildet 2011", :src => "/images/logo.png"}/
      %aside
        = haml :sidebar
      %section#content= yield
          
      %footer
        #validering
          %p
            %a{:href => "http://jigsaw.w3.org/css-validator/check/referer?profile=css3"}
              %img{:width=> '88px', :height => '31px', :src => "http://jigsaw.w3.org/css-validator/images/vcss", :alt => "Valid CSS!"}
            %a{:href=> "http://validator.w3.org/check?uri=referer"}
              %img{:width=> '32px', :height => '32px',:src => "/images/html5.png", :alt => "Valid HTML5!"}
    %script{:src => "/javascript/fontsizer.js"}

